<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redes.microtareaspaul">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".grupo1" />
        <activity android:name=".grupo2" />
        <activity android:name=".grupo3" />
        <activity android:name=".grupo4_1" />
        <activity android:name=".grupo5" />
        <activity android:name=".pspinner" />
        <activity android:name=".webView" />
        <activity android:name=".grupo4" />
        <activity android:name=".grupo5_1"></activity>
    </application>

</manifest>